*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #F8F8F8;
}

.button-pesquisar{
    background: #FFF;
    text-decoration: underline;

}
.button-pesquisar:hover {
    background:#FFF !important;  
    color:#000000 !important;
  }

  .leaflet-container {
    height: 350px;
    width: 100%;
  }